@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-ethiopia-green: #078930;
  --color-ethiopia-yellow: #FCD116;
  --color-ethiopia-red: #DA121A;
  --color-uae-red: #FF0000;
  --color-uae-green: #00732F;
  --color-uae-black: #000000;
}

@utility tibeb-border {
  background-image: repeating-linear-gradient(
    45deg,
    var(--color-ethiopia-green) 0,
    var(--color-ethiopia-green) 10px,
    var(--color-ethiopia-yellow) 10px,
    var(--color-ethiopia-yellow) 20px,
    var(--color-ethiopia-red) 20px,
    var(--color-ethiopia-red) 30px
  );
  height: 8px;
  width: 100%;
}

@utility tibeb-pattern {
  background-color: #ffffff;
  background-image:  linear-gradient(30deg, #f0f0f0 12%, transparent 12.5%, transparent 87%, #f0f0f0 87.5%, #f0f0f0), linear-gradient(150deg, #f0f0f0 12%, transparent 12.5%, transparent 87%, #f0f0f0 87.5%, #f0f0f0), linear-gradient(30deg, #f0f0f0 12%, transparent 12.5%, transparent 87%, #f0f0f0 87.5%, #f0f0f0), linear-gradient(150deg, #f0f0f0 12%, transparent 12.5%, transparent 87%, #f0f0f0 87.5%, #f0f0f0), linear-gradient(60deg, #f0f0f077 25%, transparent 25.5%, transparent 75%, #f0f0f077 75%, #f0f0f077), linear-gradient(60deg, #f0f0f077 25%, transparent 25.5%, transparent 75%, #f0f0f077 75%, #f0f0f077);
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

@utility tibeb-header-pattern {
  background-color: transparent;
  background-image: 
    linear-gradient(45deg, rgba(255,255,255,0.05) 25%, transparent 25%), 
    linear-gradient(-45deg, rgba(255,255,255,0.05) 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, rgba(255,255,255,0.05) 75%), 
    linear-gradient(-45deg, transparent 75%, rgba(255,255,255,0.05) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility tibeb-divider {
  background: repeating-linear-gradient(
    90deg,
    var(--color-ethiopia-green) 0px,
    var(--color-ethiopia-green) 20px,
    var(--color-ethiopia-yellow) 20px,
    var(--color-ethiopia-yellow) 40px,
    var(--color-ethiopia-red) 40px,
    var(--color-ethiopia-red) 60px
  );
  height: 4px;
  width: 100%;
}
